<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mx-auto more-option-icn-container">
      <!-- <mat-icon class="more-option-icn">more_vert</mat-icon> -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="more-option-icn"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewAnalysisCheck()">
          <mat-icon>bar_chart</mat-icon>
          <span>View Analysis</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>person</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="row details-input-container">
    <div class="col-md-4 mx-auto">
      <mat-tab-group>
        <mat-tab label="Income">
          <app-income-details-sections></app-income-details-sections>
        </mat-tab>
        <mat-tab label="Expenses">
          <app-expense-details-sections></app-expense-details-sections>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
