.header-container {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  z-index: 2;
}

.header-row-inside-section {
  background: royalblue;
}

.dummy-header {
  height: 50px;
}

::ng-deep .mat-calendar-period-button {
  display: none !important;
}
