.transaction-details-container {
  font-size: 0.9rem;
}
.dotted-underline {
  border: 0.5px cadetblue dotted;
}

p {
  margin-bottom: 0;
}

#trx-amt {
  font-size: 1.3rem;
}

.curr-balance {
  color: blue;
}

small {
  font-size: 0.775em;
}

.delete-icon {
  color: red;
}

.line-over-delete {
  color: gainsboro;
}
